@{
    ViewData["Title"] = "Stolarstwo Łukasz Chełpa";
}
<div styles="margin-left:0px">
    <figure style="background-image: url('@Url.Content("~/Assets/main-background.jpg")'); object-fit:scale-down; height:500px; ">
   
</figure>
</div>
