@{
    ViewData["Title"] = "Stolarstwo Łukasz Chełpa";
}
<div styles="margin-left:0px;">
    <figure style="background-image: url('@Url.Content("~/Assets/main-background3.webp")');align-items:center; justify-content:right; height:500px; background-size:cover; background-position:center; display:flex;">
        <figcaption style="position:relative; z-index:1; text-align:center; margin-top:250px;background-color:transparent;">
            <img src="~/Assets/logostamp2.png" style="filter:invert(1); height:300px; width:auto;  margin-bottom:50%; margin-right:100px;"  />
        </figcaption>
    </figure>
    <section>
        <h1>Stolarnia Tavolo - Łukasz Chełpa</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod eleifend ex sit amet scelerisque. Curabitur nec euismod erat. Aenean ac nisi id nisi varius feugiat a sit amet leo. Curabitur nec mi ultrices, efficitur nisl eget, suscipit turpis. Curabitur mauris sem, ornare a cursus vitae, hendrerit eleifend ante. Etiam nec orci dapibus, suscipit eros at, condimentum nisl. Phasellus rhoncus orci eu congue auctor. Aliquam aliquam ullamcorper consequat. In molestie turpis dignissim, sagittis nisl eu, dapibus ipsum. Quisque cursus laoreet ultricies. Ut aliquet pretium dolor, at porttitor diam consectetur mattis. Duis malesuada purus at dolor ultrices bibendum. Pellentesque nulla turpis.</p>
    </section>
</div>
